<h1>MiniTwitter</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Click on the link below to reset your password:
</p>

<%= link_to "Password Reset", edit_password_reset_url(@user.reset_token,
                                                    email: @user.email) %>